<!DOCTYPE html>
<html>
    <head>
        <title>NT Wiki {{ page.title }}</title>
        <link rel="icon" type="image/svg+xml" href="{{ page.image | relative_url }}" />
        <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    </head>

    <body>
        {% include header.html %}
        <div class="container">
            {% include sidebar.html %}

            <main>
                {{ content }}
            </main>
        </div>
    </body>
</html>